@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.view::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.view::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.view::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.fas.fa-star {
  color: #eee;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  zoom: 87%;
}

#root {
  height: 100%;
  width: 100%;
}

.hot_charts {
  padding-left: 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button {
  outline: none !important;
  border: none !important;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.h-w-100 {
  height: 100%;
  width: 100%;
}

.auth-root {
  height: 100%;
}

.root_gif {
  width: 900px;
  height: 900px;
}

.root_left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root_right {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mysites-connection-list {
  font-weight: 500 !important;
}

.auth-container {
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px gray;
  box-shadow: 0 0 2px gray;
  height: 40%;
  width: 70%;
  max-width: 400px;
  position: relative;
  border-radius: 10px;
}

.auth-logo {
  height: 100px;
  margin-bottom: -50px;
  z-index: 100;
  background-color: #fff;
}

.auth-form {
  width: 80%;
}

.auth-input {
  outline: none;
  border: none;
  background-color: #f1f1f1;
  width: 90%;
  margin-bottom: 30px;
  padding: 12px;
}

.auth-button {
  width: 90%;
  background-color: #111111;
  color: white;
  padding: 10px 5px;
  -webkit-box-shadow: 1px 1px 5px gray;
  box-shadow: 1px 1px 5px gray;
  cursor: pointer;
}

.auth-p {
  width: 100%;
  text-align: end;
  margin-top: 10px;
  margin-right: 30px;
}

.navbar-logo-div {
  height: 100%;
  background-color: rgb(38, 50, 56);
  width: 50%;
}

.navbar-logo {
  height: 100%;
  width: 250px;
}
.navbar-responsive-1 {
  background-color: rgb(38, 50, 56);
  box-shadow: 0 0 10px black;
}
.navbar-logout {
  padding-right: 20px;
  margin-top: 15px;
  width: 50%;
  cursor: pointer;
}

.navbar-logout p {
  float: right;
  color: white;
}

.left-part {
  position: fixed;
  top: 60px;
  box-shadow: 0 0 10px rgb(38, 50, 56);
  height: calc(100% - 60px);
  background-color: rgb(38, 50, 56);
  width: 250px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.leftpart-menu {
  margin-bottom: 2px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  padding-left: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: rgb(38, 50, 56);
  color: white;
  font-weight: 400;
  -webkit-transition: background-color 0.2s !important;
  -o-transition: background-color 0.2s !important;
  transition: background-color 0.2s !important;
}

.leftpart-menu:hover {
  background-color: hsla(0, 0%, 100%, 0.15);
}
.leftpart-menu:active {
  background-color: hsla(0, 0%, 100%, 0.15);
}

.circle {
  margin-top: 10px;
  width: 100px;
  background-color: #fff;
  height: 100px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.circle p {
  font-size: 200%;
  color: rgb(38, 50, 56);
  margin-bottom: 0 !important;
}

.bg-active {
  background-color: hsla(0, 0%, 100%, 0.15);
}

.view {
  position: fixed;
  top: 60px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 60px);
}

/* .link-p {
  text-decoration: none;
  color: white;
  cursor: pointer;
  width: 100%;
} */

.mysites-connection-list {
  font-weight: 800;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.mysites-heading1 {
  padding: 20px;
  left: 30px;
  top: -10px;
  position: absolute;
  z-index: 10000000;
}
.mysites-heading {
  padding: 20px;
}

.my-col {
  width: calc(100% / 4);
}

.mysites-connections {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.feedback-hero {
  height: 100%;
  width: 100%;
  margin-top: -50px;
}

.feedback-root {
  height: 100%;
  width: 100%;
}

.feedback-form {
  height: 400px;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  background-image: url('./images/feedback.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -100px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.feedback-form-heading {
  position: absolute;
  padding: 20px 0;
  top: -100px;
  color: black;
  display: none;
}

.feedback-form-stars {
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 200%;
  cursor: pointer;
  position: absolute;
  border-radius: 10px;
  bottom: -100px;
}

.fas.fa-star:hover {
  color: gold;
}

.feedback-form-button {
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  color: #34495e;
  cursor: pointer;
  font-size: 110%;
  position: absolute;
  bottom: -130px;
  background-color: rgb(38, 50, 56);
  color: white;
}

.star-active {
  color: gold !important;
}

.myrequest-hero {
  padding: 20px;
}

.table {
  height: 250px;
  background-color: #fafafa;
  border: none !important;
}

th {
  border: none;
}

td {
  border-bottom: 1px solid #a1a1a1;
  border-left: 1px solid #a1a1a1;
  border-right: 1px solid #a1a1a1;
}

td,
th {
  width: 100px;
}

.view {
  overflow-y: scroll;
}

.mydevice-hero {
  padding: 20px;
}

.bold {
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

.connection-info-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  margin-top: 20px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mycol-5 {
  width: calc(100% / 5);
}

.connection-info-p {
  width: 100%;
  text-align: center;
  font-size: 130%;
}

.connection-info-border {
  border-bottom: 2px solid #67809f;
}

.installed-devices,
.address-details,
.connection-details,
.local-generation,
.solar-pv-generator {
  padding: 20px;
}

.solar-pv-generator > p {
  height: 100px;
  margin: 0;
  width: 100%;
}

.local-generation > p {
  width: 100%;
  margin: 0;
  width: 100%;
}

.connection-details > p {
  width: 50%;
  margin: 0;
  width: 100%;
}

.address-details > p {
  width: 50%;
  text-align: justify;
  margin: 0;
  width: 100%;
}

.installed-devices > p {
  width: 50%;
  margin: 0;
  width: 100%;
}

.my-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.my-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.my-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.my-container:hover input ~ .my-checkmark {
  background-color: #ccc;
}

.my-container input:checked ~ .my-checkmark {
  background-color: rgb(33, 243, 51);
}

.my-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.my-container input:checked ~ .my-checkmark:after {
  display: block;
}

.my-container .my-checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.edit-button {
  padding: 1rem;
  background-color: rgba(17, 211, 17, 0.733);
  color: #eee;
  border-radius: 10px;
  position: absolute;
  right: 0;
  transform: translate(-50%, 0);
}

.installed-devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.installed-device-buttons {
  padding: 10px;
  margin: 10px;
  width: 200px;
  border-radius: 20px;
}

.solar-pv-generator-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solar-pv-generator-heading {
  font-weight: 600;
}

i {
  color: grey;
}

.solar-pv-generator-box-right {
  padding-left: 30px;
  padding-top: 15px;
}

.my-device-graph {
  padding-top: 40px;
}

.device-list {
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: rgba(248, 241, 241, 0.24);
  border-radius: 5px;
}

.device-list:hover {
  background-color: #eee;
  -webkit-box-shadow: inset 0 0 1px black;
  box-shadow: inset 0 0 1px black;
}

.key-select {
  outline: none;
  border: none;
  width: 300px;
  background-color: #eee;
  height: 40px;
}

.address-details-input {
  outline: none;
  padding: 0.5rem;
  background-color: #eee;
  border: none;
  min-width: 200px !important;
  max-width: 200px !important;
}

.address-details-select {
  outline: none;
  padding: 0.5rem;
  background-color: #eee;
  border: none;
  min-width: 200px !important;
  max-width: 200px !important;
}

.address-details-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative;
  margin-bottom: 5px;
}

.address-details-div p {
  width: 300px !important;
}
.filter-button {
  padding: 0.5rem;
  width: 100px;
  margin-left: 0.4rem;
  border-radius: 5px;
}

.filter-button:hover {
  opacity: 0.7;
}

input:focus {
  outline: none !important;
  border: none !important;
}

.active {
  background-color: #eee;
}

.mysites-connections {
  margin-top: 10px;
  cursor: auto;
}

.mysite-icons1 {
  height: 30px;
  width: 30px;
  margin-top: 0px;
}

.mysite-icons2 {
  height: 30px;
  width: 30px;
  margin-top: 0px;
}

.update-button {
  padding: 1rem;
  background-color: rgb(38, 50, 56);
  color: white;
  border-radius: 0.5rem;
  width: 100px;
  margin-right: 0px;
  transform: translate(-150%, 0);
  margin-left: 100%;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
  background-color: rgb(38, 50, 56) !important;
  color: white;
}

.circle-myprofile {
  background-color: rgb(38, 50, 56);
  margin-left: calc(100% - 50%);
  transform: translate(-50%, 0);
}
.circle-myprofile p {
  color: white;
}

.active-filter {
  background-color: #999;
}

.navbar-responsive-2 {
  display: none;
}

i {
  color: white;
  padding-right: 10px;
  width: 40px;
}

.icon-heading {
  color: black;
  margin-right: 10px;
}

table,
thead,
tbody,
tr,
td {
  border: none;
}

tr {
  border-bottom: 1px solid #999999;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  html,
  body {
    zoom: 1;
  }
  .left-part {
    display: none;
  }
  .view {
    width: 100vw;
    left: 0;
  }
  .connection-info-tabs {
    font-size: 0.72rem;
    overflow: scroll;
    width: 100vw;
  }
  .connection-info-hero {
    font-size: 0.72rem;
    overflow: scroll;
    width: 100vw;
  }

  .address-details-input {
    min-width: 150px !important;
    max-width: 150px !important;
    min-height: 50px !important;
    max-height: 50px !important;
  }

  .address-details-select {
    min-width: 150px !important;
    max-width: 150px !important;
    min-height: 50px !important;
    max-height: 50px !important;
  }
  .address-details,
  .solar-pv-generator,
  .installed-devices {
    padding: 20px;
  }

  .update-button {
    margin-left: 80%;
  }

  .solar-pv-generator > p {
    height: 50px !important;
  }

  .address-details-div p {
    width: 300px !important;
  }

  .auth-container {
    width: 90%;
  }

  img.mysite-icons1 {
  }
  img.mysite-icons2 {
  }
  .mysites-heading {
    font-size: 2rem;
  }
  .filter-button {
    width: 50vw;
    margin: 10px;
    margin-left: 60px;
  }
  .navbar-responsive-1 {
    display: none;
  }
  .navbar-responsive-2 {
    display: block;
    height: 60px;
  }
  .navbar {
    height: 60px !important;
  }
  .mr-auto.navbar-brand {
    height: 60px !important;
    width: 100px !important;
  }
  .logo {
    width: 130%;
    height: 130%;
    margin-left: -10px;
    margin-top: -10px;
  }
  .ham-burger {
    margin-top: -13px;
  }
  .collapse {
    z-index: 100000;
  }
  .collapse > ul {
    background-color: #eee;
    opacity: 1;
    z-index: 10000;
  }
  .res-nav {
    padding: 5px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .feedback-form {
    width: 80vw;
    height: 40vh;
  }
  .feedback-form-heading {
    font-size: 2rem;
  }
  .res-nav.nav-item {
    background-color: rgb(38, 50, 56);
  }
  .fas.fa-warehouse {
    display: none;
  }
  .my-col {
    overflow: auto;
  }
  .mycol-5 {
    overflow: auto;
    width: 200px;
  }
  .connection-info-tabs {
    width: 700px;
  }
  .update-button {
    margin-left: 110%;
  }
  .root_left {
    display: none;
  }
  .root_right {
    width: 100%;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
