@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.view::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.view::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.view::-webkit-scrollbar-thumb {
  background-color: #000000;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button {
  outline: none !important;
  border: none !important;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.h-w-100 {
  height: 100%;
  width: 100%;
}

.auth-root {
  background-color: #f1f1f1;
}

.auth-container {
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px gray;
  box-shadow: 0 0 2px gray;
  height: 60%;
  width: 70%;
  max-width: 400px;
  position: relative;
}

.auth-logo {
  height: 100px;
}

.auth-form {
  width: 80%;
}

.auth-input {
  outline: none;
  border: none;
  background-color: #f1f1f1;
  width: 90%;
  margin-bottom: 30px;
  padding: 12px;
}

.auth-button {
  width: 90%;
  background-color: #111111;
  color: white;
  padding: 10px 5px;
  -webkit-box-shadow: 1px 1px 5px gray;
  box-shadow: 1px 1px 5px gray;
  cursor: pointer;
}

.auth-p {
  width: 100%;
  text-align: end;
  margin-top: 10px;
  margin-right: 30px;
}

.navbar-logo-div {
  height: 100%;
  width: 50%;
}

.navbar-logo {
  height: 100%;
  width: 200px;
}

.navbar-logout {
  padding-right: 20px;
  margin-top: 15px;
  width: 50%;
  cursor: pointer;
}

.navbar-logout p {
  float: right;
}

.left-part {
  position: fixed;
  top: 60px;
  height: calc(100% - 60px);
  background-color: #67809f;
  width: 250px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.leftpart-menu {
  margin-bottom: 2px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: #67809f;
  color: white;
  font-weight: 400;
  -webkit-transition: background-color 0.2s !important;
  -o-transition: background-color 0.2s !important;
  transition: background-color 0.2s !important;
}

.leftpart-menu:hover {
  background-color: #34495e8a;
}
.leftpart-menu:active {
  background-color: #34495e;
}

.circle {
  margin-top: 10px;
  width: 100px;
  background-color: #fff;
  height: 100px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.circle p {
  font-size: 200%;
  color: #67809f;
  margin-bottom: 0 !important;
}

.bg-active {
  background-color: #34495e;
}

.view {
  position: fixed;
  top: 80px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 60px);
}

.link-p {
  text-decoration: none;
  color: white;
  cursor: pointer;
  height: 200%;
  width: 100%;
}

.mysites-connection-list {
  font-weight: 800;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.mysites-heading {
  padding: 20px;
}

.my-col {
  width: calc(100% / 4);
}

.mysites-connections {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.feedback-hero {
  height: 100%;
  width: 100%;
  margin-top: -50px;
}

.feedback-root {
  height: 100%;
  width: 100%;
}

.feedback-form {
  height: 400px;
  width: 500px;
  background-color: #34495e;
  padding: 10px;
  border-radius: 10px;
  margin-top: -100px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feedback-form-heading {
  padding: 20px 0;
}

.feedback-form-stars {
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 200%;
  cursor: pointer;
}

.feedback-form-button {
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  color: #34495e;
  cursor: pointer;
  font-size: 110%;
}

.star-active {
  color: gold;
}

.myrequest-hero {
  padding: 20px;
}

.table {
  height: 250px;
  background-color: #fafafa;
  border: none !important;
}

th {
  border: none;
}

td {
  border-bottom: 1px solid #a1a1a1;
  border-left: 1px solid #a1a1a1;
  border-right: 1px solid #a1a1a1;
}

td,
th {
  width: 100px;
}

.view {
  overflow-y: scroll;
}

.mydevice-hero {
  padding: 20px;
}

.bold {
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

.connection-info-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mycol-5 {
  width: calc(100% / 5);
}

.connection-info-p {
  width: 100%;
  text-align: center;
  font-size: 130%;
}

.connection-info-border {
  border-bottom: 2px solid #67809f;
}

.installed-devices,
.address-details,
.connection-details,
.local-generation,
.solar-pv-generator {
  padding: 50px;
}

.solar-pv-generator > p {
  height: 100px;
  margin: 0;
  width: 100%;
}

.local-generation > p {
  width: 100%;
  margin: 0;
  width: 100%;
}

.connection-details > p {
  width: 50%;
  margin: 0;
  width: 100%;
}

.address-details > p {
  width: 50%;
  text-align: justify;
  margin: 0;
  width: 100%;
}

.installed-devices > p {
  width: 50%;
  margin: 0;
  width: 100%;
}

.my-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.my-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.my-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.my-container:hover input ~ .my-checkmark {
  background-color: #ccc;
}

.my-container input:checked ~ .my-checkmark {
  background-color: rgb(33, 243, 51);
}

.my-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.my-container input:checked ~ .my-checkmark:after {
  display: block;
}

.my-container .my-checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.edit-button {
  padding: 1rem;
  background-color: rgba(17, 211, 17, 0.733);
  color: #eee;
  border-radius: 10px;
  position: absolute;
  right: 0;
  transform: translate(-50%, 0);
}

.installed-devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.installed-device-buttons {
  padding: 10px;
  margin: 10px;
  width: 120px;
  border-radius: 20px;
}

.solar-pv-generator-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solar-pv-generator-heading {
  font-weight: 600;
}

i {
  color: grey;
}

.solar-pv-generator-box-right {
  padding-left: 30px;
  padding-top: 15px;
}

.my-device-graph {
  padding-top: 40px;
}

.device-list {
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: rgba(248, 241, 241, 0.24);
  border-radius: 5px;
}

.device-list:hover {
  background-color: #eee;
  -webkit-box-shadow: inset 0 0 1px black;
  box-shadow: inset 0 0 1px black;
}

.key-select {
  outline: none;
  border: none;
  width: 300px;
  background-color: #eee;
  height: 40px;
}

.address-details-input {
  outline: none;
  padding: 0.5rem;
  background-color: #eee;
  border: none;
  min-width: 200px !important;
  max-width: 200px !important;
}

.address-details-select {
  outline: none;
  padding: 0.5rem;
  background-color: #eee;
  border: none;
  min-width: 200px !important;
  max-width: 200px !important;
}

.address-details-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative;
  margin-bottom: 5px;
}

.address-details-div p {
  width: 300px !important;
}
.filter-button {
  padding: 0.5rem;
  width: 100px;
  margin-left: 0.4rem;
  border-radius: 5px;
}

.filter-button:hover {
  opacity: 0.7;
}

input:focus {
  outline: none !important;
  border: none !important;
}

.active {
  background-color: #eee;
}

.mysite-icons1 {
  height: 50px;
  width: 50px;
  margin-left: 30px;
  margin-top: -15px;
}

.mysite-icons2 {
  height: 50px;
  width: 80px;
  margin-left: 10px;
  margin-top: -10px;
}

.update-button {
  padding: 1rem;
  width: 100px;
  position: absolute;
  right: 0;
  bottom: 100px;
  transform: translate(-50%, 0);
}

.circle-myprofile {
  background-color: #67809f;
  margin-left: calc(100% - 50%);
  transform: translate(-50%, 0);
}
.circle-myprofile p {
  color: white;
}

.active-filter {
  background-color: #999;
}
